$line-height-big:56px;
$line-height:46px;
$line-height-small:36px;

$color-header:goldenrod;

$font-size-big:18px;
$font-size:14px;

$padding-big:20px;
$padding:10px;
$padding-small:5px;

$border-radius:4px;